// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// ============ GENERAL SETTING ================ 


.img-fluid{
    max-width: 100%;
    height: auto;
}

body{
    line-height: 24px; 
}

h1{
    color: $h-black;
    @include font-size(34px,16px);
    font-weight: bold;
    line-height: 70px;
    @include media-breakpoint-up(md){
        @include font-size(48px, 16px);
    }
    @include media-breakpoint-up(lg){
        line-height: 70px;
        @include font-size(68px,16px);
    }
}

h2,h3{
    color: $p-black;
}

h2{
    @include font-size(26px,16px);
    line-height: 35px;
}

h3{
    @include font-size(16px,16px);
}

p,a{
    color: $p-black;
    @include font-size(16px,16px);
    @include media-breakpoint-up(md){
        @include font-size(15px,16px);
    }
    
}

a{
    &:hover{
        color: $primary;
        text-decoration: none;
        transition: .3s;
    }
    &.see-more{
        @include font-size(15px,16px);
        font-weight: bold;
       i{
           transition: .5s;
           padding-left: 4px;
       }
       &:hover{
           i{
              padding-left: 9px;
              transition: .5s;
           }
       }
       
    }
}

a.btn{
    background-color: $primary;
    border-radius: 21px;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    padding: 8px 8px 8px;
    width: 170px;
    border: 2px solid $primary;
    &:hover{
        box-shadow: 0px 4px 10px 0 rgba($grey, 0.5);
    } 
    &.btn-second{
        color: $primary;
        background-color: $white;
        &:hover{
            background-color: $primary;
            color:$white;
        }
    }
}

.line-gradient{
    width: 100%;
    height:1px;
    display: block;
     /* SVG fallback for IE 9 (could be data URI, or could use filter) */
     background: url(../../img/large.svg);
    @include x-multiple-colored-gradient(
        'left',
        $line-gradient 
    );
}

.container{
    @include media-breakpoint-only(xxl){
        max-width: 1350px;
    }
}

// Dropdown menu :hover

.dropdown{
    position: static;
}

.dropdown-menu{
    opacity: 0;
    transition: all .4s;
}


.dropdown:hover .dropdown-menu {
    width: 100%;
    top: 97%;
    display: block;
    border: none;
    opacity:1;
    @include fadeInLeftBig($duration:.4s);
    li{
        &:hover{
            a.dropdown-item{
                color: $dark-blue!important;
                background-color: transparent;
                &::before{
                    color: $dark-blue;
                }
            }
        }
        a.dropdown-item{
            @include media-breakpoint-up(md){
                text-align: center;
            }
        }
    }
    @include media-breakpoint-up(md){  
        @include fadeInDown(
        $duration:.7s
        ); 
       display: flex;
       flex-wrap: nowrap;
       justify-content: space-evenly;
       border-bottom-left-radius: 80%;
       border-bottom-right-radius: 80%;
       border-bottom: 1px solid $grey;
       li{
           a{
               &::before{
                   margin-bottom: 0px;
                   position: relative;
                   display:block;
                   @include fontawesome-icon();
                   justify-content: space-around;
                   content: $fa-var-exchange;
                   font-size: 48px;
                   color: grey;
               }
           }
       }
    }
}

.wrapper{
    padding-bottom: 0px;
}

// =========Hamburger icon=========

.burger{
    margin: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease; 
    border: none;
    background: transparent;
    &:focus{
        outline: none;
    }
    .cta {
      height: 50px;
      width: 50px;
      cursor: pointer; 
      border: none;
    }

  }
  .toggle-btn {
    height: 2px;
    width: 25px;
    background-color: $h-black;
    position: relative;
    top: 50%;
    left: 0;
    margin: auto;
    transition: all 0.3s ease-in-out; 
}
    
    .toggle-btn:before {
      content: "";
      height: 2px;
      width: 25px;
      box-shadow: 0 -10px 0 0 $h-black;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out; }
    .toggle-btn:after {
      content: "";
      height: 2px;
      width: 25px;
      box-shadow: 0 10px 0 0 $h-black;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out; }
  
  .active .toggle-btn {
    background-color: transparent;
    transition: all 0.2s ease-in-out; }
    .active .toggle-btn:before {
      top: 0;
      transition: all 0.3s ease-in-out; }
    .active .toggle-btn:after {
      top: 0;
      transition: all 0.3s ease-in-out; }
  .active .type11 {
    transform: rotate(90deg);
    transition: all 0.4s ease-in-out; }
    .active .type11:before {
      transform: translateY(0) rotate(40deg); }
    .active .type11:after {
      transform: translateY(0) rotate(-40deg); }

// =========== Header ==========


  #wrapper-navbar{
      background: transparent;
      width: 100%;
    // -------  navbar homepage  -------
        &.navbar-home{
            height: 100vh;
            background: url(https://cdn.stocksnap.io/img-thumbs/960w/KCWTO8OFWF.jpg) no-repeat 50% 50%;
            background-size: cover;
            #main-logo{
                .cls-1{
                    fill: $white;
                }
            }
            .navbar.bg-primary{
                border-bottom: 2px solid transparent;
            }
        }
        // --------- dropdown ---------
      #main-logo{
        height: 62px;
        width: 150px;
        transition: .8s;
        .cls-1{
            fill: $black;
            }
        }
      .navbar.bg-primary{
            background: transparent!important;
            width: 100%;
            line-height: 60px;
            z-index: 100;
            padding-bottom: 0px;
            transition: .5s;
            border-bottom: 1px solid $grey;
            .container{
              #main-menu{
                  li.menu-item{
                        padding-right: 37px;
                        &:last-child{padding-right: 0px;}
                        &.active{
                            .nav-link{
                                font-weight: 500;
                                color: $dark-blue;
                            }
                        }
                      .nav-link{
                          color: $grey;
                          font-weight: 500;
                          transition: .3s;
                          &:hover{
                              color: $dark-blue;
                          }
                      }
                  }
              }
              a{
                  color: $grey;
              }
          }
      }
      .navbar.navwhite{
        background: $white!important;
        transition: .5s;
        padding-top: 0px;
        padding-bottom: 0px;
        #main-logo{
            transition: .8s;
            width: 120px;
            height: 50px;
        }
    }  
  }


// ========Footer==========

#wrapper-footer{
    background-color: $dark-blue;
    padding-bottom: 0px;
    p{
        color: $grey;
        font-size: 13px;
        margin-bottom: 0px;
    }
    a{
        font-size: 13px;
        color: $white;
        &:hover{
            color: $primary;
        }
    }
    .footer-info{
        min-height: 500px;
        .social{
            padding-bottom: 30px;
            @include media-breakpoint-up(md){
                padding-bottom: 58px;
            }
            ul{
                padding: 0px;
                li{
                    display: inline;
                    padding-right: 4px;
                }
                .social-svg{
                    width: 26px;
                    .cls-1{
                        transition: .3s;
                    }
                    &:hover{
                        .cls-1{
                            fill: $primary;
                            background: $white;
                            transition: .3s;
                        }
                    }
                }
            }
        }
        p{
            color: $white;
        }
        h2{
            font-size: 14px;
            color: $primary;
        }
        .contact{
            padding-bottom: 28px;
            padding-top: 30px;
            @include media-breakpoint-up(md){
                padding-top: 90px;
                padding-bottom: 0px;
            }
            h2{
                color: $white;
            }
        }
        .footer-push-down{
            padding-bottom: 28px;

            @include media-breakpoint-up(md){
                padding-top: 190px;
            }
            a{
                display: block;
            }
        }
    }
    .copyright{
        height: 100px;
        margin-bottom: 0px;
        .my-auto{
            padding: 0; 
        }
        p{
            font-size: 12px;
        }
        .footer-logo{
                text-align: right;
            #footer-logo{
                max-width: 180px;
            }
        }
    }
}

//========= Parent page template =========
#main{
    .parent-title{
        font-size: 13px;
        font-weight: bold;
        padding-top: 20px;
    }
    .line-gradient{
        margin-bottom: 30px;
    }
    h4{
        color:$h-black;
        font-size: 30px;
        width: 80%;
        margin-bottom: 52px;
    }

}


// ============= Work ===============

.work-navigation{
    padding-bottom: 35px;
    .work-category-nav{
        list-style: none;
        li{
            margin: 0px;
        }
    }
}


.work-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    .work-box{ 

        .hovereffect {
            width: 100%;
            height: 100%;
            float: left;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: default;
            &:hover{
                .overlay{
                    background-color: rgba(48, 152, 157, 0.4);
                }
                .work-cat,.work-title{
                    -webkit-transform: translateY(5px);
                    -ms-transform: translateY(5px);
                    transform: translateY(5px);
                    margin:0px;
                }
                .work-description.info{
                    opacity: 1;
                    filter: alpha(opacity=100);
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
            .work-description.info{
                display: inline-block;
                text-decoration: none;
                padding: 7px 14px;
                text-transform: uppercase;
                color: #fff;
                border: 1px solid #fff;
                background-color: transparent;
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                font-weight: normal;
                margin: 7px;
                &:hover{
                    box-shadow: 0 0 5px #fff;
                }
            }
            .work-cat,.work-title{
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                position: relative;
                font-size: 17px;
                padding: 10px;
                background: rgba(0, 0, 0, 0.6);
                -webkit-transform: translateY(45px);
                -ms-transform: translateY(45px);
                transform: translateY(45px);
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }
            img{
                position: relative;
                display: block;
            }
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
                background-color: rgba(75,75,75,0.7);
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
            }

          }
    }
}